body{
    margin:0px;
    background: linear-gradient(
        to right bottom, 
        #333,
        #111
    );
    background-attachment: fixed;
}
#header-title{
    color: aliceblue;
    font-size: larger;
}
section{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
#content{
    background: linear-gradient(
        to top right,
        rgba(250,250,250,0.3),
        rgba(250,250,250,0.1)
    );
    background-attachment: fixed;
    border-radius: 2rem;

    width: 80%;
    padding: 30px 5%;
    font-family: 'Roboto Condensed', sans-serif, 'Indie Flower', cursive;
    font-size: 30px;
    color: white;
}
br{
    height: 30px;
}